.container {
	background-color: #f2d4d2;
	width: 100%;
	height: auto;
	z-index: 100;
}

.box {
	width: 90vw;
	height: auto;
	background-color: red;
	margin: auto;
}

.links {
	display: flex;
	flex-direction: column;

	font-size: 50px;
}
